*, ::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}
  

body {
    margin: 0;
    position: relative;
    height: 100%;
}

/* NAV BOX */

.nav-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 960px;
  margin: 0 auto;
  height: 100px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.brand {
  margin-right: auto;
  margin-left: 0;
  text-align: center;
  height: 100px;
  background: #4aaaa5;
  color: white;
  font-size: 30px;
  font-weight: 600;
  width: 140px;
  padding: 0;
  line-height: 100px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

ul {
  display: flex;
  float: right;
  text-align: center;
  margin: auto;
  line-height: 20px;
  height: 20px;
  padding: 0;
}

li {
  flex: 0 0 auto;
  float: right;
  list-style: none;
  padding-top: 42px;
}

a {
  border-right: 1px solid #cccccc;
  color: #666666;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
}

#contact{
  padding-right: 0;
  border-right: none;
}



/* MAIN BODY BOX */

#outer-container {
  background: url(../images/bodybg.png);
  border-top: 2px solid #dddddd;
  height: 100%;
}

.container {
  width: 960px;
  margin: 30px auto;
  height: 500px;
  background: white;
}

#container-inside {
  max-width: 960px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 24px;
  margin-left: 24px;
  background: white;
  height: 75%;
}

.profile {
  display: flex;
  clear: both;
  padding-top: 3%;
  padding-bottom: 2%;
}

#Bio {
  margin: 0;
  width: 800px;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #666666;
}

#about, #contact-header {
  float: left;
  width: 100%;
  height: 100px;
  text-align: justify;
  color: #4aaaa5;
  padding-left: 0;
  justify-content: center;
  border-bottom: 2px solid #dddddd;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 100px;
}

#contact-header {
  margin-bottom: 20px;
}

#copyright {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 60px;
  padding-top: 15px;
  color: white;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.info {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #666666;
  padding-bottom: 10px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 160px;
}

input[type=submit] {
  height: 35px;
  width: 120px;
  color: white;
  background: #4aaaa5;
  border: none;
}

.form {
  padding-top: 30px;
}

.container-port {
  height: 850px;
}

.port-img {
  display: block;
  float: left;
  width: 30.33%;
  height: 200px;
  margin: auto;
  padding: 1.5%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 980px){
  .container {
    width: 60%;
    height: 60%;
  }

  .container-port {
    width: 90%;
    margin: auto;
    height: 100%;
  }

  .nav-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px){
  .container {
    width: 100%;
  }
  .port-img {
    display: inline;
    width: 50%;
    margin: 0;
  }
  .container-port {
    width: 90%;
    margin: auto;
    height: 100%;
  }
  .nav-container {
    width: 90%;
  }
}

@media screen and (max-width: 640px){
  #about {
    text-align: center;
  }
  
  .nav-container: {
    content: "";
    justify-content: center;
    margin: auto;
  }
  
  .brand, .navbar {
    width: 100%;
    padding: 0;
  }
  
  .navbar {
    background: white;
    height: 50px;
    border-bottom: 2px solid #cccccc;
  }
  li {
    padding: 0;
  }
  
  ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    line-height: 50px;
  }
}

