html, body {
  height: 100%;
  font-family: 'Handlee', cursive;
  background-image: url("./assets/images/bodybg.png");
}

.borders {
  border-top: 4px solid greenyellow;
}

.navbar {
  padding: 0;
  max-width: 960px;
}

.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 960px;
}

.row {
  margin: 0;
}

.h-75 {
  overflow: auto;
}

.contact-header {
  font-size: 40px;
}

.social {
  padding: 10px;
  padding-bottom: 30px;
}

.port-img {
  font-size: 25px;
}